/* line 3, ../sass/600.scss */
.main-interactive-section .main-interactive-block {
  width: 50%;
  float: left;
  padding: 0 10px;
}

/* line 10, ../sass/600.scss */
.footer .footer-block {
  width: 50%;
  float: left;
  padding: 0 10px;
}

/* line 17, ../sass/600.scss */
.container-sidebar-right .content {
  margin-right: 320px;
  min-height: 500px;
  margin-bottom: 0;
}
/* line 22, ../sass/600.scss */
.container-sidebar-right .sidebar {
  position: absolute;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
}

/* line 30, ../sass/600.scss */
.enter-section {
  padding: 20px;
}
/* line 33, ../sass/600.scss */
.enter-section .enter-form-list li {
  padding-left: 85px;
}
/* line 35, ../sass/600.scss */
.enter-section .enter-form-list li label {
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 2;
}
/* line 41, ../sass/600.scss */
.enter-section .enter-form-list li .btn {
  margin-bottom: 0;
}

/* line 52, ../sass/600.scss */
.header .header-top-section ul li:last-child a {
  font-size: 12px;
}

/* line 61, ../sass/600.scss */
.top-contacts-section .top-img-container {
  border-left: 1px solid #cecece;
  box-shadow: 1px 0 0 #fff inset;
  height: 80px;
  margin-left: 20px;
  padding-left: 20px;
  display: none;
}
/* line 70, ../sass/600.scss */
.top-contacts-section .top-contacts .tel-holder {
  font-size: 30px;
}
