/* line 2, ../sass/768.scss */
.tab-content .tab {
  display: none;
}

/* line 7, ../sass/768.scss */
.footer .footer-block {
  width: 25%;
  float: left;
  padding: 0 10px;
}

/* line 16, ../sass/768.scss */
.tabs .tab-nav a {
  font-size: 14px;
  padding: 17px 20px;
}

/* line 22, ../sass/768.scss */
.block-actual, .block-img, .special-offer-section .special-offer {
  width: 50%;
  float: left;
  display: block;
}
