/* line 3, ../sass/992.scss */
.slider .slidesjs-slide .slider-text {
  display: block;
}
/* line 7, ../sass/992.scss */
.slider .slidesjs-slide .slider-more {
  display: block;
}

/* line 13, ../sass/992.scss */
.top-contacts-section .top-img-container {
  display: block;
  max-width: 999em;
  margin-left: 20px;
  padding-left: 20px;
  height: 80px;
}
/* line 21, ../sass/992.scss */
.top-contacts-section .top-contacts .adress {
  font-size: 17px;
  padding-top: 8px;
}
/* line 25, ../sass/992.scss */
.top-contacts-section .top-contacts .tel-holder {
  padding-left: 15px;
  margin-left: 15px;
  font-size: 30px;
}

/* line 37, ../sass/992.scss */
.registration-section .field-control .msg {
  position: absolute;
}

/* line 43, ../sass/992.scss */
.header .header-top-section {
  min-width: 330px;
}
/* line 48, ../sass/992.scss */
.header .header-top-section ul li:last-child a {
  font-size: 12px;
}

/* line 57, ../sass/992.scss */
.top-contacts-section .logo {
  max-width: 999em;
}

/* line 62, ../sass/992.scss */
.main-interactive-section .main-interactive-block {
  text-align: left;
  float: left;
  width: 25%;
  border-left: 1px solid #e6e6e6;
}
/* line 67, ../sass/992.scss */
.main-interactive-section .main-interactive-block:first-child {
  border-left: none;
}
/* line 70, ../sass/992.scss */
.main-interactive-section .main-interactive-block .heading {
  margin: 0 0 20px;
}

/* line 75, ../sass/992.scss */
.pt8 {
  display: block !important;
}

/* line 80, ../sass/992.scss */
#nav li a {
  padding: 0 11px;
}

/* line 87, ../sass/992.scss */
.tabs .tab-nav a {
  font-size: 14px;
  padding: 17px 20px;
}

/* line 93, ../sass/992.scss */
.footer .footer-telephones {
  font-size: 30px;
}

/* line 97, ../sass/992.scss */
.process-map .map {
  margin-left: 252px;
}
