.top-contacts-section {
	.top-img-container {
		max-width: 9999em;
	}
	.top-contacts {
		.adress {
			font-size: 17px;
			padding-top:8px;
		}
		.tel-holder {
			padding-left: 15px;
			margin-left:15px;
			font-size: 30px;
		}
	}
}