
.footer {
	.footer-block {
		width:50%;
		float:left;
		padding:0 10px;
	}
}
.container-sidebar-right {
	.content {
		margin-right: 320px;
		min-height: 500px;
		margin-bottom:0;
	}
	.sidebar {
		position: absolute;
		width:300px;
		top:0;
		bottom:0;
		right:0;
	}
}
.enter-section {
	padding:20px;
	.enter-form-list {
		li {
			padding-left:85px;
			label {
				position:absolute;
				left:0;
				top:4px;
				z-index: 2;
			}
			.btn {
				margin-bottom:0;
			}
		}
	}
}
.main-interactive-section {
	.main-interactive-block {
		text-align:left;
		float:left;
		width:50%;
		padding:0 10px;
		min-height: 210px;
	}
}
.footer {
	text-align: left;
}
.overlay-popup {
	.popup {
		width:590px;
		margin-left:-293px;
		margin-top:-275px;
		left:50%;
		top:50%;
		.header-popup {
			padding:10px 20px;
		}
		.content {
			padding:20px;
		}
		.close-popup-js {
			top:10px;
		}
		.input-container {
			.container:first-child {
				float:left;
			}
			.container {
				float:right;
				width:260px;
				input {
					margin-top:15px;
					width:100%;
					&:first-child {
						margin-top:0;
					}
				}
			}
			textarea {
				width:100%;
				margin:15px 0;
				resize: none;
				border:1px solid #ddd;
			}
		}
		.subscribe {
			margin-top:15px;
		}
	}
}
.carusel,
.carusel-video {
	margin:0 auto;
}

.top-contacts-section {
	text-align: left;
	.logo {
		max-width:150px;
	}
	.logo, .adress {
		float:left;
		img {
			width:100%;
			max-height: 100%;
		}
	}
	.top-img-container {
		max-width:150px;
		float:left;
		border-left:1px solid #cecece;
		box-shadow:1px 0 0 #fff inset;
		margin-left:10px;
		padding-left:10px;

		height:auto;
		img {
			width:100%;
			max-height: 100%;
		}
	}
	.top-contacts {
		float:right;
		.icons-flag {

		}
		.adress {
			float:left;
			text-align: right;
			font-size: 13px;
		}
		.tel-holder {
			float:right;
			padding-left:5px;
			margin-left:5px;
			border-left:1px solid #cecece;
			box-shadow:1px 0 0 #fff inset;
		}
	}
}
.pt8 {
	display: none!important;
}