
.footer {
	.footer-block {
		width:50%;
		float:left;
		padding:0 10px;
	}
}
.container-sidebar-right {
	.content {
		margin-right: 320px;
		min-height: 500px;
		margin-bottom:0;
	}
	.sidebar {
		position: absolute;
		width:300px;
		top:0;
		bottom:0;
		right:0;
	}
}
.enter-section {
	padding:20px;
	.enter-form-list {
		li {
			padding-left:85px;
			label {
				position:absolute;
				left:0;
				top:4px;
				z-index: 2;
			}
			.btn {
				margin-bottom:0;
			}
		}
	}
}

.footer {
	text-align: left;
}
