.tab-content {
	.tab {
		display:none;
	}
}

.main-interactive-section {

	.main-interactive-block {
		width:25%;
		border-left:1px solid #e6e6e6;
		&:first-child {
			border-left:none;
		}
	}
}
.footer {
	.footer-block {
		width:25%;
		float:left;
		padding:0 10px;
	}
}
.top-contacts-section {
	text-align: left;
	.logo, .adress {
		float:left;
	}
	.top-img-container {
		float:left;
	}
	.top-contacts {
		float:right;
		.icons-flag {

		}
		.adress {
			float:left;
			text-align: right;
			font-size: 17px;
		}
		.tel-holder {
			float:right;
			padding-left:15px;
			margin-left:15px;
			border-left:1px solid #cecece;
			box-shadow:1px 0 0 #fff inset;
		}
	}
}
.tabs {
	.tab-nav {
		a {
			font-size: 14px;
			padding:17px 20px;
		}
	}
}