.slider {
	.slidesjs-slide {
		.slider-text {
			display: block;

		}
		.slider-more {
			display: block;
		}
	}
}
.top-contacts-section {
	.top-img-container {
		display: block;
	}
}
.registration-section {
	.field-control {
		.msg {
			position:absolute;
		}
	}
}