.slider {
	.slidesjs-slide {
		.slider-text {
			display: block;

		}
		.slider-more {
			display: block;
		}
	}
}
.top-contacts-section {
	.top-img-container {
		display: block;
		margin-left:20px;
		padding-left:20px;
		height:80px;
	}
}

.registration-section {
	.field-control {
		.msg {
			position:absolute;
		}
	}
}
.header {
	.header-top-section {
		min-width: 330px;
		ul {
			li {
				&:last-child {
					a {
						font-size: 12px;
					}
				}
			}
		}
	}
}
.top-contacts-section {
	.logo {
		max-width: 999em;
	}
}
.main-interactive-section {
	.main-interactive-block {
		text-align:left;
		float:left;
		width:25%;
		border-left:1px solid #e6e6e6;
		&:first-child {
			border-left:none;
		}
		.heading {
			margin:0 0 20px;
		}
	}
}
.pt8 {
	display: block!important;
}
#nav {
	li {
		a {
			padding:0 11px;
		}
	}
}
.tabs {
	.tab-nav {
		.sub-menu-holder {
			font-size: 14px;
			padding:17px 20px;
		}
	}
}
.footer .footer-telephones {
	font-size: 30px;
}
.process-map {
	.map {
			//margin-left:252px;
	}
}
.slider-page {
	.container-sidebar-right {
		.sidebar {
			width:300px;
			.agent {
				a {
					margin-right:20px;
				}
				.icons-user {
					display:inline-block;
				}
			}
			.contacts {
				h2 {
					font-size: 24px;
				}
				ul li.phone {
					font-size: 24px;
				}
			}
		}
		.content {
			margin-right:300px;
		}
	}
}
.table-slide {
	tr {
		td:first-child {
			width:200px;
		}
	}
}
//.w600-side-block {
//	position:relative;
//	width:auto;
//}
