.slider {
	.slidesjs-slide {
		.slider-text {
			display: block;

		}
		.slider-more {
			display: block;
		}
	}
}
.top-contacts-section {
	.top-img-container {
		display: block;
		max-width:999em;
		margin-left:20px;
		padding-left:20px;
		height:80px;
	}
	.top-contacts {
		.adress {
			font-size: 17px;
		}
		.tel-holder {
			padding-left: 15px;
			margin-left:15px;
			font-size: 30px;
		}
	}


}

.registration-section {
	.field-control {
		.msg {
			position:absolute;
		}
	}
}
.header {
	.header-top-section {
		min-width: 330px;
		ul {
			li {
				&:last-child {
					a {
						font-size: 12px;
					}
				}
			}
		}
	}
}
.top-contacts-section {
	.logo {
		max-width: 999em;
	}
}
.main-interactive-section {
	.main-interactive-block {
		text-align:left;
		float:left;
		width:25%;
		border-left:1px solid #e6e6e6;
		&:first-child {
			border-left:none;
		}
		.heading {
			margin:0 0 20px;
		}
	}
}
.pt8 {
	display: block!important;
}
#nav {
	li {
		a {
			padding:0 11px;
		}
	}
}
.tabs {
	.tab-nav {
		a {
			font-size: 14px;
			padding:17px 20px;
		}
	}
}
