.header {
	background: #f6f6f6;
	box-shadow: 0 2px 2px rgba(0,0,0, .07);
	height:48px;
	margin:0 0 20px;
	.header-top-section {
		float:right;
		min-width: 330px;
		padding-top:10px;
		select {
			float:left;
			position:relative;
			top:4px;
		}
		ul {
			float:right;
			@extend .cf;
			li {
				background: #ccc;
				float:left;
				&:hover {
					background: #0082ca;
				}
				&:last-child a {
					width: auto;
				}
				&:nth-child(2n) {
					background: #d7d7d7;
					&:hover {
						background: #0082ca;
					}
				}
				&:last-child {
					a {
						font-size: 0;
					}
				}
			}
			a {
				width: 30px;
				height:30px;
				padding:5px;
				display: block;
				font-size: 12px;
				color:#fff;
				text-decoration: none;
				text-align: center;
				i {
					line-height:30px;
					position:relative;
				}
				.icons-fb {
					top:2px;
				}
				.icons-tw {
					top:4px;
				}
				.icons-mail {
					top:3px;
				}
				.icons-skype {
					top:2px;
				}
				.icons-chat {
					top:3px;
				}
			}
		}
	}
}
.top-contacts-section {
	text-align: center;
	margin:0 0 20px;
	.top-img-container {
		border-left:1px solid #cecece;
		box-shadow:1px 0 0 #fff inset;
		height:80px;
		margin-left:20px;
		padding-left:20px;
		display: none;
	}
	.top-contacts {
		color:#333333;
		.icons-flag {
			margin-right:7px;
			top:3px;
			position: relative;
		}
		.adress {
			font-size:14px;
			padding-top:8px;
			div {
				margin:0 0 2px;
			}
		}
		.tel-holder {
			font-weight: bold;
			font-size:20px;
			font-family: $bold;
			sub {
				color:#188ece;
			}
		}
	}

}