body {
	background: url(../img/main-bg.jpg) no-repeat 50% 48px #eeeeee;
	font-size: 18px;
	font-family: helveticaneuecyrlight;
	color:#555;
}
h1,h2,h3,h4,h5,h6 {
	margin-top:0;
	color:#555;
	line-height: 1;
}
h1, h2 {
	font-size: 24px;
}
h3 {
	font-family: $bold;
}
h3, h4, h5 {
	font-size: 18px;
}
strong {
	font-family: $bold;
}
a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	color:#848484;
	&:hover, &:focus {
		color:#ee812e;
	}
}
.cf {
	&:after {
		content:"";
		display: table;
		clear:both;
	}
}
.mb20 {
	margin-bottom:20px;
}
input[type="text"],
input[type="password"]{
	height:35px;
	color:#aeaeae;
	border:1px solid #ddd;
	padding:10px 10px;
	&:focus, &:hover {
		border-color:#f1bd95;
	}
}
.t-center {
	text-align:center;
}
.w960 {
	//max-width: 960px;
	max-width: 1200px;
	padding:0 20px;
	margin:0 auto;
	@extend .cf;
}
.pt8 {
	padding-top:8px;
}
.btn-prev, .btn-next {
	background:#f1f1f1;
	position:relative;
	width:25px;
	height:25px;
	text-align:center;
	border:none;
	&:hover, &:focus {
		background:#dddddd ;
	}
	.icon {
		position:relative;
		top:3px;
	}
}
.page-amount-info {
	.btn-prev, .btn-next {
		float:left;
	}
	.btn-next {
		margin-right: 10px;
	}
}

.post-list {
	h2 {
		font-size: 24px;
		text-transform: uppercase;
		padding-bottom:10px;
		background: url(../img/header-border.png) 0 100% repeat-x;
		margin-bottom:20px;
	}
	.post-list-items {
		height:160px;
		overflow:hidden;
		position:relative;
		margin:0 0 10px;
		ul {
			margin:0 0 10px;
			position:relative;
			top:0;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			li {
				border-bottom:1px solid #ebebeb;
				padding:5px 0;
				a {
					display:block;
					position:relative;
					padding-left:30px;
					font-size: 18px;
					color:#848484;
					height:21px;
					overflow:hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:before {
						content: "";
						width: 4px;
						height: 7px;
						position: absolute;
						left: 0;
						top: 8px;
						@include icons-sprite(list-arrow);
					}
					&:hover, &:focus {
						color:#ee812e;
						&:before {
							@include icons-sprite(list-arrow-active);
						}
					}
				}
			}
		}
	}
}
.block-actual, .block-img {
	width:50%;
	float:left;
}
.block-img {
	text-align: center;
	padding-top:10px;
}
.special-offer-section {
	background: #f7f7f7;
	padding:30px 0;
	.special-offer {
		float:left;
		width:50%;
		.post-list {
			padding-right: 20px;
		}
	}

}
.main-interactive-section {
	background: #fff;
	padding:60px 0 40px;
	.main-interactive-block {
		margin-bottom:20px;
		.heading {
			text-transform: uppercase;
			font-size: 16px;
			margin:0 0 20px;
			color:#555;
			vertical-align: top;
			padding-left:50px;
			min-height: 36px;
			position:relative;
			.icon {
				position:absolute;
				top:0;
				left:0;
				z-index: 2;
				margin-right:5px;
			}
		}
		p {
			margin:0 0 7px;
			font-size: 14px;
		}
	}
}
.watch-all-link {
	color:#ee812e;
	text-decoration: underline;
	&:hover, &:focus {
		text-decoration: none;
	}
}
.container-sidebar-right {
	position:relative;
	z-index: 1;
	.content {
		margin-bottom:20px;
		textarea {
			resize: none;
			width:80%;
			height:140px;
			padding:10px;
			margin:0 0 10px;
			border:1px solid #ddd;
		}
	}
	.sidebar {
		background: #f9f9f9;
		border: 1px solid #ddd;
		padding:15px;

	}
}
.sidebar {
	.personal-block {
		margin:0 0 20px;
		.you {
			color:#c7c7c7;
			text-transform: uppercase;
			margin-bottom:20px;
			.icon {
				margin-right: 5px;
			}
			span {
				color:#ec8435;
			}
		}
		.you-subscribe {
			.title {
				font-size: 18px;
				text-transform: uppercase;
				margin:0 0 10px;
			}
			ul {
				margin:0 0 20px 10px;
				li {
					position:relative;
					margin:0 0 5px;
					padding-left: 20px;
					&:before {
						content:"";
						@include icons-sprite(circle);
						width:10px;
						height:10px;
						position: absolute;
						top:3px;
						left:0;
					}
				}
			}
		}

	}
	.btn.orange {
		min-width: 225px;
		margin:0 0 10px;
	}
	.contacts {
		h2 {
			text-transform: uppercase;
		}
		ul {
			li{
				padding-left: 30px;
				position: relative;
				margin:0 0 10px;
				font-size: 18px;
				&.phone {
					color:#ec8435;
					font-size: 24px;
				}
				a, .skype {
					color:#188ece;
				}
				.icon {
					position: absolute;
					top:4px;
					left:0;
					z-index: 2;
				}
				.icons-footer-fb {
					left:4px;
				}
			}
		}
	}
}
.pic {
	display: inline-block;
	box-shadow: 0 0 5px rgba(0,0,0, .5);
	border:5px solid #fff;
	img {
		display: block;
		max-width: 100%;
	}
}
.komma {
	position:relative;
	margin-left: 65px;
	padding-left:8px;
	border-left:1px solid #ddd;
	font-style: italic;
	&:before {
		content:"";
		@include icons-sprite(komma);
		width: 52px;
		height:41px;
		position: absolute;
		left:-65px;
		top:0;
	}
}
.orange-color {
	color:#ec8435;
}
.load-file {
	position:relative;
	padding-right:120px;
	margin:0 0 20px;
	&:after {
		content:"";
		@include icons-sprite(unchecked);
		width:70px;
		height:57px;
		position:absolute;
		right:20px;
		top:40px;
	}
	&.is-loaded:after {
		@include icons-sprite(checked);
	}
	color:#878787;
	.load-input {
		margin:0 0 20px;
		.btn.gray {
			text-transform: uppercase;
			margin-right:20px;
		}
		
		.load-file-text {
			margin-top:8px;
			display: inline-block;
		}
	}
	label {
		input{
			margin-right:10px;
			position: relative;
			top:-2px;
		}
	}
}
.show-all-block {
	position:relative;
	margin:20px 0;
	.show-all-js {
		position:absolute;
		right:0;
		top:7px;
		z-index: 1;
		color:#188ece;
		font-size: 14px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.show-all-container {
		height:48px;
		font-size:18px;
		line-height:24px;
		overflow:hidden;
	}
}
.special-deal {
	background: #fdf2ea;
	border:1px solid #ec8435;
	color:#ec8435;
	font-size:24px;
	padding:25px 25px 25px 80px;
	margin:0 auto 20px;
	max-width: 960px;
	position: relative;
	.icon {
		position:absolute;
		top:12px;
		left:20px;
		z-index: 1;
	}

}
.sidebar {
	.agent {
		font-size:14px;
		margin:0 0 20px;
		a {
			color:#ec8435;
			margin-right:20px;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.official-site {
		img {
			display: block;
			float:left;
			margin:0 8px 20px 0;
		}
		.container {
			float:left;
			width:160px;
			font-size:14px;
		}
		.off-site-name {
			color:#ec8435;
			margin:0 0 15px;
			display: inline-block;
			text-transform: uppercase;
		}
		.tax {
			margin-top:20px;
			color:#188ece;
			display: inline-block;
			text-transform: uppercase;
		}
	}


}
.picture-list,
.video-list {
	position:relative;
	margin:0 0 20px;
	h3 {
		padding-top:5px;
	}
	.next, .prev, .next-video, .prev-video {
		position:absolute;
		top:5px;
		text-indent: -9999em;
		display: block;
		width:22px;
		height:22px;
		border-radius: 30px;
		background: #ddd;
		border:none;
		&:after {
			content:"";
			width:6px;
			height:12px;
			position:absolute;
			top:5px;
			left:8px;
		}
		&:hover {
			background: #ec8435;
		}
	}

	.prev, .prev-video {
		right:30px;
		&:after {
			@include icons-sprite(white-arrow-prev);
		}
	}
	.next, .next-video{
		&:after {
			left:9px;
			top:5px;
			@include icons-sprite(white-arrow-next);
		}
		right:0;
	}
	img {
		max-width: 100%;
	}
}
.btn {
	.icons-list{
		position:absolute;
		top:8px;
		left:10px;
	}
}
.overlay {
	background: rgba(0,0,0, .2);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index: 100;
	.popup {
		font-size: 14px;
		top:50%;
		left:50%;
		position:absolute;
		z-index: 10;
		background: #fff;
		border:5px solid #e3e3e3;
		border-radius: 10px;
		width:590px;
		margin-left:-275px;
		margin-top:-275px;
		.close-popup-js {
			position:absolute;
			right:10px;
			top:10px;
			z-index: 2;
			color:#ec8435;
			text-decoration: underline;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		.header-popup {
			background: #e3e3e3;
			padding:10px 20px;
			font-family: $bold;
		}
		.content {
			padding:20px;
			background: #fff;
		}
		.input-container {
			.container:first-child {
				float:left;
			}
			.container {
				float:right;
				width:260px;
				input {
					margin-top:15px;
					width:100%;
					&:first-child {
						margin-top:0;
					}
				}
			}
			textarea {
				width:100%;
				margin:15px 0;
				resize: none;
				border:1px solid #ddd;
			}
		}
		.subscribe {
			margin-top:15px;
		}
	}
}
.turtes {
	margin:30px 0;
	.logo-turtes {
		float:left;
		width:25%;
		img {
			max-width: 100%;
			display: block;
		}
	}
	.discription {
		float:left;
		width:75%;
	}
}
.bg-none {
	background:#fff!important;
	background-image:none!important;
}
.white-bg {
	background: #fff;
	padding-top:20px;
}
.site-map {

}
.three-column {
	> div {
		float:left;
		width:33.3332%;
		padding-right:10px;
		margin-bottom:20px;
	}
}
.site-map {
	> div {
		a {
			color:#555555;
			font-size: 14px;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
				color:#ec8435;
			}
		}
		> ul {
			> li {
				margin:0 0 15px;
				> ul {
					margin-top:5px;
					margin-left:20px;
				}

			}
		}
	}
	.simple-link-list {
		a {
			display: block;
			margin:0 0 10px;
		}
	}
}