body {
	background: url(../img/main-bg.jpg) no-repeat 50% 0 #fff;
	font-size: 18px;
	font-family: helveticaneuecyrlight;
	color:#555;
	line-height: 24px;
	min-width: 768px;
}
h1,h2,h3,h4,h5,h6 {
	margin-top:0;
	color:#555;
	line-height: 1;
}
h1, h2 {
	font-size: 24px;
}
h3 {
	font-family: $bold;
}
h3, h4, h5 {
	font-size: 18px;
}
strong {
	font-family: $bold;
}
a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	color:#848484;
	&:hover, &:focus {
		color:#ee812e;
	}
}
.cf {
	&:after {
		content:"";
		display: table;
		clear:both;
	}
}
.mb20 {
	margin-bottom:20px;
}
input[type="text"],
input[type="password"]{
	height:35px;
	color:#aeaeae;
	border:1px solid #ddd;
	padding:5px 10px;
	&:focus, &:hover {
		border-color:#f1bd95;
	}
}
.t-center {
	text-align:center;
}
.w960 {
	//max-width: 960px;
	max-width: 1200px;
	padding:0 20px;
	margin:0 auto;
	@extend .cf;
}
.pt8 {
	padding-top:8px;
}
.btn-prev, .btn-next {
	background:#f1f1f1;
	position:relative;
	width:25px;
	height:25px;
	text-align:center;
	border:none;
	&:hover, &:focus {
		background:#dddddd ;
	}
	.icon {
		position:relative;
		top:3px;
	}
}
.page-amount-info {
	margin:0 0 20px;
	line-height: 24px;
	.btn-prev, .btn-next {
		float:left;
	}
	.btn-next {
		margin-right: 10px;
	}
}

.post-list {
	h2 {
		font-size: 18px;
		text-transform: uppercase;
		padding-bottom:10px;
		background: url(../img/header-border.png) 0 100% repeat-x;
		margin-bottom:20px;
	}
	.post-list-items {
		height:160px;
		overflow:hidden;
		position:relative;
		margin:0 0 10px;
		ul {
			margin:0 0 10px;
			position:relative;
			top:0;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			li {
				border-bottom:1px solid #ebebeb;
				padding:5px 0;
				a {
					display:block;
					position:relative;
					padding-left:30px;
					font-size: 18px;
					color:#848484;
					height:21px;
					overflow:hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:before {
						content: "";
						width: 4px;
						height: 7px;
						position: absolute;
						left: 0;
						top: 8px;
						@include icons-sprite(list-arrow);
					}
					&:hover, &:focus {
						color:#ee812e;
						&:before {
							@include icons-sprite(list-arrow-active);
						}
					}
				}
			}
		}
	}
}

.block-img {
	text-align: center;
	padding-top:10px;
	display:none;
}
.special-offer-section {
	background: #f7f7f7;
	margin-top:50px;
	padding:30px 0;
	.special-offer {
		.post-list {
			padding-right: 20px;
		}
	}

}
.main-interactive-section {
	background: #fff;
	padding:60px 0 40px;
	.main-interactive-block {
		margin-bottom:20px;
		//text-align:center;
		.icon {
			display: inline-block;
		}
		.heading {
			padding-left:50px;
			min-height: 36px;

			text-transform: uppercase;
			font-size: 16px;
			margin:0 0 10px;
			color:#555;
			vertical-align: top;
			position:relative;
			.icon {
				position:absolute;
				top:0;
				left:0;
				z-index: 2;
				margin-right:5px;
			}
		}
		p {
			margin:0 0 7px;
			font-size: 14px;
			line-height: 18px;
		}
	}
}
.watch-all-link {
	color:#ee812e;
	text-decoration: underline;
	&:hover, &:focus {
		text-decoration: none;
	}
}
.container-sidebar-right {
	position:relative;
	border:1px solid #ddd;
	z-index: 1;
	background: #f9f9f9;
	.content {
		margin-bottom:20px;
		textarea {
			resize: none;
			width:80%;
			height:140px;
			padding:10px;
			margin:0 0 10px;
			border:1px solid #ddd;
		}
	}
	.sidebar {
		background: #f9f9f9;
		border-left: 1px solid #ddd;

		padding:15px 10px;

	}
}
.sidebar {
	.personal-block {
		margin:0 0 20px;
		.you {
			font-size:16px;
			color:#c7c7c7;
			text-transform: uppercase;
			margin-bottom:20px;
			.icon {
				margin-right: 5px;
			}
			span {
				color:#ec8435;
			}
		}
		.you-subscribe {
			.title {
				font-size: 18px;
				text-transform: uppercase;
				margin:0 0 10px;
			}
			ul {
				margin:0 0 20px 10px;
				li {
					position:relative;
					margin:0 0 5px;
					padding-left: 20px;
					&:before {
						content:"";
						@include icons-sprite(circle);
						width:10px;
						height:10px;
						position: absolute;
						top:3px;
						left:0;
					}
				}
			}
		}

	}
	.btn.orange, .btn.blue {
		min-width: 215px;
		margin:0 auto 10px;
		position:relative;
		left:10px;
		display: block;
	}
	.contacts {
		h2 {
			text-transform: uppercase;
			font-size:18px;
		}
		ul {
			li{
				padding-left: 30px;
				position: relative;
				margin:0 0 10px;
				font-size: 18px;
				&.phone {
					color:#ec8435;
					font-size: 24px;
				}
				a, .skype {
					color:#188ece;
				}
				.icon {
					position: relative;
					top:4px;
					left:-4px;
					z-index: 2;
					display: inline-block;
				}
				.icons-footer-fb {
					left:-4px;
				}
			}
		}
	}
}
.pic {
	display: inline-block;
	box-shadow: 0 0 5px rgba(0,0,0, .5);
	border:5px solid #fff;
	img {
		display: block;
		max-width: 100%;
	}
}
.komma {
	position:relative;
	margin-left: 65px;
	padding-left:8px;
	border-left:1px solid #ddd;
	font-style: italic;
	&:before {
		content:"";
		@include icons-sprite(komma);
		width: 52px;
		height:41px;
		position: absolute;
		left:-65px;
		top:0;
	}
}
.orange-color {
	color:#ec8435;
}
.load-file {
	position:relative;
	padding-right:120px;
	margin:0 0 20px;
	&:after {
		content:"";
		@include icons-sprite(unchecked);
		width:70px;
		height:57px;
		position:absolute;
		right:20px;
		top:40px;
	}
	&.is-loaded:after {
		@include icons-sprite(checked);
	}
	color:#878787;
	.load-input {
		margin:0 0 20px;
		.btn.gray {
			text-transform: uppercase;
			margin-right:20px;
			padding-bottom: 2px;
		}
		
		.load-file-text {
			margin-top:8px;
			display: inline-block;
		}
	}
	label {
		input{
			margin-right:10px;
			position: relative;
			top:-2px;
		}
	}
}
.show-all-block {
	position:relative;
	margin:20px 0;
	.show-all-js {
		position:absolute;
		right:0;
		top:7px;
		z-index: 1;
		color:#188ece;
		font-size: 14px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.show-all-container {
		height:54px;
		font-size:14px;
		line-height:18px;
		position:relative;
		overflow:hidden;
		&:after {
			content:"";
			bottom:0;
			left:0;
			width:100%;

		}
	}
}
.special-deal {
	background: #fdf2ea;
	border:1px solid #ec8435;
	color:#ec8435;
	font-size:24px;
	padding:25px 25px 25px 80px;
	margin:0 auto 20px;
	max-width: 1160px;
	position: relative;
	.icon {
		position:absolute;
		top:12px;
		left:20px;
		z-index: 1;
	}

}
.sidebar {
	.agent {
		font-size:14px;
		margin:0 0 20px;
		position:relative;
		a {
			color:#ec8435;
			margin-right:20px;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		.icons-user {
			position:absolute;
			right:0;
			top:0;
		}
	}
	.official-site {
		img {
			display: block;
			float:left;
			margin:0 13px 20px 0;
		}
		.container {
			float:left;
			width:160px;
			font-size:14px;
		}
		.off-site-name {
			color:#ec8435;
			margin:0 0 15px;
			display: inline-block;
			text-transform: uppercase;
		}
		.tax {
			margin-top:20px;
			color:#188ece;
			display: inline-block;
			text-transform: uppercase;
		}
	}


}
.sidebar .contacts {
	text-align: center;
}
.picture-list,
.video-list {
	position:relative;
	margin-bottom:20px;
	h3 {
		padding-top:5px;
		font-weight: normal;
	}
	.next, .prev, .next-video, .prev-video {
		position:absolute;
		top:2px;
		text-indent: -9999em;
		display: block;
		width:22px;
		height:22px;
		padding:0;
		border-radius: 30px;
		background: #ddd;
		border:none;
		&:after {
			content:"";
			width:6px;
			height:12px;
			position:absolute;
			top:5px;
			left:8px;
		}
		&:hover {
			background: #ec8435;
		}
	}
	li img{
		border:3px solid #ddd;
		border-radius: 3px;
	}
	.block-info-count {
		right:30px;
		position:absolute;
		z-index: 2;
		top:5px;
		font-size:14px;
		color:#ababab;
	}
	.prev, .prev-video {
		right:75px;
		&:after {
			@include icons-sprite(white-arrow-prev);
		}
	}
	.next, .next-video{
		&:after {
			left:9px;
			top:5px;
			@include icons-sprite(white-arrow-next);
		}
		right:0;
	}
	img {
		max-width: 100%;
	}
}
.btn {
	.icons-list{
		position:absolute;
		top:8px;
		left:10px;
	}
}
.overlay-popup {
	background: rgba(0,0,0, .7);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index: 100;
	.popup {
		font-size: 14px;
		top:10%;
		left:0;
		position:absolute;
		z-index: 10;
		background: #fff;
		border:5px solid #e3e3e3;
		border-radius: 10px;
		width:100%;

		.close-popup-js {
			position:absolute;
			right:10px;
			top:3px;
			z-index: 2;
			color:#ec8435;
			text-decoration: underline;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		.header-popup {
			background: #e3e3e3;
			padding:5px 10px;
			font-family: $bold;
			font-size: 16px;
		}
		.content {
			padding:10px;
			background: #fff;
		}
		.input-container {

			.container {
				input {
					margin-top:10px;
					width:100%;
				}
			}
			textarea {
				width:100%;
				margin:15px 0;
				resize: none;
				border:1px solid #ddd;
			}
		}
		.subscribe {
			margin-top:15px;
		}
	}
}
.turtes {
	margin:30px 0;
	.logo-turtes {
		float:left;
		width:25%;
		img {
			max-width: 100%;
			display: block;
		}
	}
	.discription {
		float:left;
		width:75%;
	}
}
.bg-none {
	background:#fff!important;
	background-image:none!important;
}
.white-bg {
	background: #fff;
}
.site-map {

}
.three-column {
	> div {
		float:left;
		width:33.3332%;
		padding-right:10px;
		margin-bottom:20px;
	}
}
.site-map {
	> div {
		a {
			color:#555555;
			font-size: 14px;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
				color:#ec8435;
			}
		}
		> ul {
			> li {
				margin:0 0 15px;
				> ul {
					margin-top:5px;
					margin-left:20px;
				}

			}
		}
	}
	.simple-link-list {
		a {
			display: block;
			margin:0 0 10px;
		}
	}
}
.custom-select-box {
	display:inline-block;
	position:relative;
	height:25px;
	border:1px solid #ddd;
	background: #fff;
	top:3px;
	&:after {
		content:"";
		background: url(../img/select-arrow.png);
		right:8px;
		top:9px;
		width:10px;
		height:6px;
		position: absolute;
	}
	.select-value {
		position:absolute;
		top:0;
		left:0;
		z-index: 1;
		font-size:12px;
		color:#717171;
		font-family: $bold;
		padding:0 20px 0 15px;
		line-height: 24px;
		white-space: nowrap;
		text-overflow: ellipsis;

	}
	select {
		position:relative;
		z-index: 2;
		opacity: 0;
	}
}
.custom-select-item {
	display:block;
	position:relative;
	height:36px;
	border:1px solid #bcbcbc;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjZmJmYmZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjlmOWY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 7%, #f9f9f9 50%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#fbfbfb), color-stop(50%,#f9f9f9), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 7%,#f9f9f9 50%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 7%,#f9f9f9 50%,#f2f2f2 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 7%,#f9f9f9 50%,#f2f2f2 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 7%,#f9f9f9 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	border-radius: 2px;
	box-shadow:0 0 1px #fff inset;
	top:3px;
	margin-bottom:10px;
	&:before {
		content:"";
		height:36px;
		top:0;
		right:35px;
		border-right:1px solid #bcbcbc;
		width:1px;
		position: absolute;
	}
	&:after {
		content:"";
		background: url(../img/select-arrow.png);
		right:13px;
		top:15px;
		width:10px;
		height:6px;
		position: absolute;
	}
	.select-value {
		position:absolute;
		top:0;
		left:0;
		z-index: 1;
		font-size:12px;
		color:#717171;
		font-family: $bold;
		padding:0 0 0 15px;
		white-space: nowrap;
		text-overflow: ellipsis;
		line-height: 34px;
		overflow: hidden;
		display: block;
		width:100%;
		padding-right:35px;
	}
	select {
		position:relative;
		z-index: 2;
		width:100%;
		height:35px;
		opacity: 0;
	}
}
.overlay {
	background: rgba(255,255,255, .7);
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index: 11;
	.preloader {
		top:50%;
		left:50%;
		position:absolute;
		z-index: 2;
		margin-left:-15px;
		margin-top:-15px;
		background: url(../img/preloader.gif) no-repeat;
		width:30px;
		height:30px;
		text-indent: -99999em;
	}

}
.scroll-section {
	margin:0 0 20px;
	overflow:auto;
	height:456px;
}
.mr26 {
	margin-right:26px!important;
	position:relative;
	&:after {
		content:"";
		width:26px;
		height:30px;
		background: #6d6d6d;
		position:absolute;
		right:-26px;
		top:0;
		border-top:1px solid #ddd;
		border-right:1px solid #ddd;
	}
}
@media all and (max-width: 830px){
	.slider-page .slidesjs-container, .slider-page .slidesjs-control{
		height:auto!important;
	}
	.slidesjs-slide {
		position:relative!important;
		left:0!important;
	}
	.slider-page .container-sidebar-right {
		min-height: 1170px;
	}
}
.bg-white {
	background: #fff;
}

@media only screen and (min-width: 1110px){
	.process-map {
		.map {
				//margin-left:142px!important;
		}
	}
}

.filter-column1,
.filter-column2{
	float:left;

}
.filter-column1 {
	width:25%;
	padding-right:20px;
	.inn {
		min-height: 488px;
		background: #f9f9f9;
		border:1px solid #ddd;
		padding:20px 10px;
		.heading {
			text-transform: uppercase;
			font-size:18px;
			margin:0 0 10px;
		}
	}
}
.filter-column2 {
	width:75%;
}
.icons-chat3 {
	top:2px!important;
}
.brd-none {
	border: none!important;
}
.bg-none {
	background: none!important;
}
.brd {
	border:1px solid #ddd;
}
.bg-white {
	background: #fff!important;
}
.to-upper {
	text-transform: uppercase;
}
.to-upper.btn.orange {
	padding-bottom: 1px;
}