#menu {
	float:left;
}
#nav {
	float:left;
	li {
		float:left;
		background: #f6f6f6;
		a {
			display: block;
			text-decoration: none;
			color:#555;
			font-size:13px;
			height:45px;
			padding:0 5px;
			border:1px solid #d5d5d5;
			line-height:44px;
			font-family: $bold;
			&:hover, &:focus {
				background:#fbfbfb;
			}
			&.active {
				box-shadow: 1px 0 #fff inset;
				background: #ec8435;
				color:#fff;
				cursor: default;
				box-shadow: none;
				&:hover, &:focus {
					background:#ec8435;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#menu {
		width:1.4em;
		display: block;
		font-size:1.35em;
		text-align: center;
		position:relative;
		top:7px;
	}
	#nav.js {
		display: none;
	}
	#nav {
		width:100%;
		list-style:none;
		position:relative;
		top:6px;
	}
	#nav li {
		width:100%;
	}
}

	@media screen and (min-width: 768px) {
		#menu {
			display: none;
		}
	}