.slider {
	padding-bottom:40px;
	position:relative;
	margin-bottom:20px!important;
	> img {
		max-width: 100%;
	}
	.slidesjs-slide {
		height:100%;
		position:relative;
		.slider-text {
			position:absolute;
			top:25%;
			display: none;
			left:0;
			width:100%;
			background: url(../img/slide-text-layer.png) no-repeat;
			height:66px;
			padding:5px 10px 5px 35px;
		}
		.slider-text-white {
			display:block;
			font-size:25px;
			line-height:25px;
			text-transform: uppercase;
			color:#fff;
			font-family: $bold;
		}
		.slider-text-blue {
			display:block;
			font-family: $bold;
			color:#c5deff;
			font-size:30px;
			line-height:36px;
			text-transform: uppercase;

		}
		.slider-more {
			top: 49%;
			display: none;
			left: 39px;
			position: absolute;
			z-index: 2;
			padding:15px 20px;
			border-radius: 5px;
			font-size: 16px;
			color:#444;
			background: #f2f2f2;
			border:none;
		}
		img {
			width:100%;
			height:100%;
			display: block;
		}
	}

	.slidesjs-navigation {
	display: inline-block;
	text-indent: -9999em;
	background: rgba(255,255,255, .5);
	width:35px;
	height:35px;
	position:absolute;
	bottom:0;

	z-index: 5;
}
.slidesjs-navigation:hover,
.slidesjs-navigation:focus{
	background: rgba(255,255,255, 1);
}
.slidesjs-navigation:after {
	width:13px;
	height:21px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-10px;
	margin-left:-6px;
	content:"";
}
.slidesjs-previous:after {
	@include icons-sprite(left);

}
.slidesjs-next:after {
	@include icons-sprite(right);
	text-indent: -9999em;
}
.slidesjs-previous {
	left:20px;
}
.slidesjs-next {
	left:55px;
}
.slidesjs-control, .slidesjs-container {
	//height:auto!important;
	z-index: 1;
}
.slidesjs-pagination {
	position:absolute;
	z-index: 2;
	bottom:0;
	width:100%;
	text-align: center;
	li {
		display: inline-block;
		margin-left:10px;
		&:first-child {
			margin-left: 0;
		}
		a {
			display: block;
			width:8px;
			height:8px;
			text-indent: -9999em;
			background:#d7d7d7 ;
			border-radius: 20px;
			&:hover {
				background: #fff;
			}
			&.active {
				background: #ec8435;
			}
		}
	}
}
}



.slider-page {
	position:relative;
	.slidesjs-navigation {
		position:absolute;
		top:5px;
		z-index: 11;
		text-indent: -9999em;
		display: block;
		width:25px;
		height:25px;
		border-radius: 30px;
		background: #ddd;
		&:hover {
			background: #ec8435;
		}
		&:after {
			content:"";
			width:6px;
			height:12px;
			position:absolute;
			top:6px;
			left:9px;
		}
	}
	.slidesjs-previous {
		right:30px;
		&:after {
			@include icons-sprite(white-arrow-prev);
		}
	}
	.slidesjs-next {
		&:after {
			left:11px;
			top:6px;
					@include icons-sprite(white-arrow-next);
		}
		right:0;
	}

	.container-sidebar-right {
		min-height: 1000px;
		.content {
			border-top:1px solid #ddd;
			border-left:1px solid #ddd;
			background: #f9f9f9;
			margin-right:240px;
			//min-height: 1000px;
		}
		.sidebar {
			background: #f9f9f9;
		}
	}
	.slidesjs-pagination {
		display: none;
	}
}