.tabs {
	background: #fff;
	padding-bottom:30px;
	.tab-nav {
		background: #f6f6f6;
		border-bottom:5px solid #ddd;
		border-top:1px solid #ddd;
		height:71px;
		margin-bottom:40px;
		&.two-tabs {
			a {
				width:50%;
			}
		}
		a {
			-webkit-transition: none 0s ease-in-out;
			-moz-transition: none 0s ease-in-out;
			-o-transition: none 0s ease-in-out;
			transition: none 0s ease-in-out;
			float:left;
			display:block;
			width:25%;
			height:65px;
			padding:7px 5px;
			border-right:1px solid #ddd;
			font-family: $bold;
			font-size: 11px;
			text-transform: uppercase;
			color:#6d6d6d;
			overflow: hidden;
			line-height: 16px;
			text-decoration: none;
			position:relative;
			&:first-child {
				border-left:1px solid #ddd;
			}
			&.current {
				background: #fff;
				height:70px;
				border-bottom:5px solid #ec8435;
				&:after {
					content:"";
					position:absolute;
					bottom:0;
					border:10px solid;
					border-color: transparent transparent #ec8435 transparent;
					left:50%;
					margin-left: -7px;
				}
			}
			span {
				color:#939393;
				display: block;
			}
		}
	}
	.tab {
		@extend .cf;
	}
}